body{
    font-family: 'Poppins', sans-serif;
}
.bg-header-color{
    background-color: #264653;
}
.header-div h1{
    font-size: 48px;
}
.grayscale_effect {
    filter: grayscale(100%);
}
.extra-color{
    color:#E76F51;
}
.fas{
    color: #E76F51;
}